name: Docker Image CI

on:
    workflow_call:
        inputs:
            image_name:
                description: 'Name of the Docker image to build'
                required: true
                type: string
            platforms:
                description: 'Platforms for which to build the container'
                required: false
                type: string
                default: 'linux/arm64/v8,linux/amd64'
        secrets:
            DOCKERHUB_USERNAME:
                description: 'Username for Docker Hub'
                required: true
            DOCKERHUB_PASSWORD:
                description: 'Password for Docker Hub'
            GH_USERNAME:
                description: 'Username for GitHub Packages'
                required: true
            GH_PAT:
                description: 'Personal Access Token for GitHub Packages'
                required: true

jobs:
    primary_pipeline_python_checker:
        uses: lamusmaser/principal_pipeline_repository/.github/workflows/python_checker.yml@main
        with:
            image_name: ${{ inputs.image_name }}
    primary_pipeline_container_builder:
        needs: primary_pipeline_python_checker
        uses: lamusmaser/principal_pipeline_repository/.github/workflows/container_builder.yml@main
        with:
            image_name: ${{ inputs.image_name }}
            platforms: ${{ inputs.platforms }}
        secrets:
            DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
            DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
            GH_USERNAME: ${{ secrets.GH_USERNAME }}
            GH_PAT: ${{ secrets.GH_PAT }}